<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.here.android.example.basicpositioningsolution">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:maxSdkVersion="22" android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <activity android:label="@string/app_name" android:name=".BasicPositioningActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Developers should put application credentials here.To obtain them, please register the application
         at https://developer.here.com/develop/mobile-sdks-->
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="dI4OVibvD9N0SJs4JohB" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="QU1ded3sgwdzCbB9bFbeQg" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="K7Cy6zUzjlzhNVWIfs6GPb47uuLgRdnGjZ9rsb4y+u8SsmIlaJzcP0+XV6f/GxAT8g0qW7gEHCP49XA5nxLgT+pffoIHTLWkBD3vA1cK5xHZRBhVPXeezFyXa9LroN7mca6UcOtVS3ZMOo12kNrc3d/CzGWySPHcXJ8aS+ngwK/zfVC6HALDoVKvOICLDgK9b5t2Mpr/CGeZ046Hs5LMn6a1/jRz5zqfpc2NtkG4w0v1v8+SxTH3Y1lOgguLDwOuZapIGhgFpBn/Nso9hOc/JHUsfTwSJf9xJcbyfDozZcX4kUm6egI2zYo54qw5aXqTBc4hUaHXxcN8or9Qi/5U4tDacxos13w06aDuXUbaFjzTmiZTEpCxFygEKxCQSrS6RSP66reS/FRzr3b7kL8N7Efya54sLfJ+cMAfOWUPdHRwObDkwA8kvWHiGuAXG6dYbo0+ZJFuS9qSa/P7v2AG33/1p1zOalcM+6Vnx0O6YA/MMzKAgt1+LKjVaHQCwqhruC4VIu56sqC8rT48+y6Ckg0aMZ940gb9sH9QVTyTsBzTkcgoSUb2DGQJIy4fR6xfrouQinMPIsPudeguNDhehbNHNzuqHESKpNNrg+pmVVwQU2psEWHqZqGlngwswWbT5cTjkuV74if4OpZTBSYzkcZqHxe7iR1fhIAOKytFwPY=" />


         <!--Developers should always provide custom values for each of {YOUR_LABEL_NAME}.
         Do not reuse HERE Mobile SDK defaults.-->
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="{YOUR_LABEL_NAME}"
            android:exported="false">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService.v3"></action>
            </intent-filter>
        </service>
        <!--
            Embed the HERE Positioning Service.
            For more information, see the HERE Mobile SDK Developer's Guide
        -->
        <service
            android:enabled="true"
            android:exported="false"
            android:name="com.here.services.internal.LocationService"
            android:process=":remote">
        </service>
        <!--
            HERE Location boot receiver definition.
            For more information, see the HERE Mobile SDK Developer's Guide
        -->
        <receiver
            android:name="com.here.services.internal.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
